{% extends "base.html.twig" %}

{% block title %}Metrics{% endblock %}

{% block body %}

    <h1>Introduktion</h1>
    <p>
        I följande moment skall vi gå igenom de sex C:na, som då står för <strong>Codestyle</strong>, <strong>Coverage</strong>, <strong>Complexity</strong>, <strong>Cohesion</strong>, <strong>Coupling</strong> och <strong>CRAP</strong>.

        <br><br>

        Dessa är mätvärden som kan användas till våran kod för att få ut statistik gällande hur väl skriven våran kod är, samt om där finns några förbättringspunkter att göra i koden, "clean code".

        <br><br>

        För att få en bättre förståelse för vad de sex C:na handlar om går vi snabbt igenom koncepten för varje 'C' här nedan:
        
        <br><br>

        <strong>Codestyle</strong>

        <br><br>

        <strong>Coverage</strong>

        <br><br>

        <strong>Complexity</strong>

        <br><br>

        <strong>Cohesion</strong>
        
        <br><br>

        <strong>Coupling</strong>
        
        <br><br>

        <strong>CRAP</strong>

    </p>

{% endblock %}