{% extends 'base.html.twig' %}

{% block title %}Add Book{% endblock %}

{% block body %}

<div class="book_form">
    <h1>Add book to Library</h1>

    <form method="post" action="{{ path('post_book_create') }}">
        Title:<br>
        <input type="text" name="title">
        <br><br>
        ISBN:<br>
        <input type="number" name="isbn">
        <br><br>
        Author:<br>
        <input type="text" name="author">
        <br><br>
        image-url:<br>
        <input type="text" name="img_url">
        <br><br>
        <input type="submit" name="submit" value="Add book!">
        <input type="button" name="cancel" value="Cancel" onclick="location.href='{{ path('library_show') }}';">
    </form>
</div>

{% endblock %}
