{% extends 'base.html.twig' %}

{% block title %}Edit Book{% endblock %}

{% block body %}

<div class="book_form">
    <h1>Edit book in Library</h1>

    <form method="post" action="{{ path('post_book_update') }}">
        Title:<br>
        <input type="text" name="title">
        <br><br>
        ISBN:<br>
        <input type="number" name="isbn">
        <br><br>
        Author:<br>
        <input type="text" name="author">
        <br><br>
        image-url:<br>
        <input type="text" name="img_url">
        <br><br>
        <input type="submit" name="submit" value="Edit book!">
    </form>
</div>

{% endblock %}
