{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block body %}
<h1>Card game</h1>

<p>Hi, the following is a simple cardgame, where you will be able to draw cards until you choose to restart the game. There are 52 cards in this game, but you will be able to draw cards until there are no left. Here are the <a href="https://sv.wikipedia.org/wiki/Kortlek">basics of a deck of cards on Wikipedia</a>.</p>

<p>These are the routes used in developing this game.</p>

<ul>
    <li><a href="{{ path('deck') }}">Deck of cards</li>
    <li><a href="{{ path('shuffle') }}">Shuffles, then shows the deck</li>
    <li><a href="{{ path('draw') }}">Draw a card</li>
    <li><a href="{{ path('number_cards', {num:5}) }}">Draw many cards</li>
</ul>

{% endblock %}
