{% extends "base.html.twig" %}

{% block title %}Dokumentation - 21{% endblock %}

{% block body %}
<h1>Dokumentation kring spelet och implementationen.</h1>

<h2>Generella tankar kring följande spel.</h2>

<p>
    Spelet kommer börja med att spelaren blir ombedd att dra ett kort från kortleken, detta till spelaren har två kort i handen, om spelaren är över 21 poäng så förlorar spelar per automatik, datorn kommer då inte behöva dra några kort från kortleken. Om spelaren inte gått över 21 så kommer denna får välja ifall man vill dra ett nytt kort eller lämna över till motståndaren, motståndaren drar då två kort och sedan visas samtliga kort upp och poängen sammanställs för att verifiera vem som vunnit.
    <br><br>
    Nedan ser vi hur det kan se ut med ett flödesdiagram, nedan diagram beskriver i grova drag hur det kan komma att se ut.
</p>

<img class="flode_spel" src="{{ asset('img/flodesDiagram_kmom03.svg') }}" alt="flodesdiagram_kmom03">

<p>3. Behöver fyllas ut</p>

<p>4. Behöver fyllas ut</p>

{% endblock %}
