{% extends "base.html.twig" %}

{% block title %}Game{% endblock %}

{% block body %}
<h1>Game - 21</h1>

<p>
    Hi, and welcome to my game!
    <br><br>
    The game in question is called twenty-one and is a hybrid bewteen the games 21 and blackjack. The main objective of the game is to come as close to twenty-one as possible, you will be starting the game by drawing a card from the deck, you will be able to draw as many cards as you like until you give the turn over to the computer. The computer then draws it's cards and the one with the closest sum to 21 is declared winner of the current game.
    <br><br>
    If the user goes over 21 you automatically lose, if the user breaks even with the computer, the computer wins as well. All cards are at the face value, meaning that cards with value 2 - 10 are given 2 - 10 points, while Jacks, Queens, Kings are given 10 points each. Aces are given 1 or 11 points depending on how many points you already have in your hand, for example, if you have over 10points aces are worth 1 point, and if you have below 10points, aces are worth 11 points. A pair of Aces are an automatical win... as long as the computer doesn't get the same.
</p>

<p>Click on the link called 'Start Game' to give it a try, otherwise feel free to browse the documentation for this setup.</p>
<ul>
    <li><a href="{{ path('doc') }}">Documentation</a></li>
    <li><a href="{{ path('init') }}">Start Game</a></li>
</ul>

{% endblock %}
