.site-footer {
    // display: flex;
    // flex-flow: row;
    width: 99%;
    background-color: #333;
    height: 3rem;
    position: fixed;
    bottom: 0;
    margin-bottom: 5px;
}

.site-footer > p {
    font-size: 1rem;
    color: #faebd7;
    text-align: center;
}
