@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Lato&display=swap');

$base-line-height: 1;
$base-font-size: 1.25rem;
$vertical-rhythm: $base-line-height * $base-font-size;

body { 
  line-height: $base-line-height;
  font-family: 'Alkatra', cursive;
}

p { 
  font-size: $base-font-size;
  margin-bottom: $vertical-rhythm;
  font-family: 'Alkatra', cursive;
}

h1 {
  font-size: 3em;
  margin-bottom: $vertical-rhythm * 2;
  font-family: 'Lato', sans-serif;
}

h2 {
  font-size: 2em;
  margin-bottom: $vertical-rhythm;
  font-family: 'Lato', sans-serif;
}

h3 {
  font-size: 1.5em;
  margin-bottom: $vertical-rhythm;
  font-family: 'Lato', sans-serif;
}
