@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Lato&family=Montserrat&display=swap');

$base-line-height: 1;
$base-font-size: 1.25rem;
$vertical-rhythm: $base-line-height * $base-font-size;
$brodtext: 'Montserrat', sans-serif;
$rubriker: 'Alkatra', cursive;;

body { 
  line-height: $base-line-height;
  font-family: $brodtext;
}

p { 
  font-size: $base-font-size;
  margin-bottom: $vertical-rhythm;
  font-family: $brodtext;
}

h1 {
  font-size: 3em;
  margin-bottom: $vertical-rhythm * 2;
  font-family: $rubriker;
  border-bottom: 4px double #ccc;
}

h2 {
  font-size: 2em;
  margin-bottom: $vertical-rhythm;
  font-family: $rubriker;
}

h3 {
  font-size: 1.5em;
  margin-bottom: $vertical-rhythm;
  font-family: $rubriker;
}
