{% extends "proj/base.html.twig" %}

{% block title %}Dokumentation - Black Jack{% endblock %}

{% block body %}
<h1>Dokumentation kring spelet och implementationen.</h1>

<h2>Generella tankar kring följande spel.</h2>

<p>
    Spelet kommer börja med att spelaren blir ombedd att dra ett kort från kortleken, detta till spelaren har två kort i handen, om spelaren är över 21 poäng så förlorar spelar per automatik, datorn kommer då inte behöva dra några kort från kortleken. Om spelaren inte gått över 21 så kommer denna får välja ifall man vill dra ett nytt kort eller lämna över till motståndaren, motståndaren drar då två kort och sedan visas samtliga kort upp och poängen sammanställs för att verifiera vem som vunnit. Det enda som ändrats här från tidigare är att antalet spelare har lagt till i implementationen. Reglerna är mer eller mindre likadana som 21 i mitt fall.
    <br><br>
    Nedan flödesdiagram har jag låtit vara kvar, då jag bara fortsatt jobba med grundidén som varit där från början. Jag vill här slå ett slag för att förfarandet är likadant som tidigare, bara det att användaren skickar in antalet händer hen vill spela och sedan körs detta på liknande sätt.
</p>

<img class="flode_spel" src="{{ asset('img/flodesDiagram_kmom03.svg') }}" alt="flodesdiagram_kmom03">

<p>
    Det jag fått lägga till för att kunna implementera detta är sessioner för antalet spelare samt vem som är nuvarande spelaren, på detta sätt har jag kunnat särskilja mellan de olika "händerna" som användaren väljer att dra från. <strong>Jag är medveten om att jag skriver antal spelare, men i själva verket är det 1 användare med 1-3 antal händer som spelas.</strong>
    <br><br>
    Tittar vi i ProjectController.php ser vi att det börjar med att användaren trycker in antalet händer hen vill spela och sedan initeras användare baserat på antalet händer som skickats med. Under spelets gång sparas all nödvändig information i session för att lättare hålla koll på vad som dragit vad för kort och vem vinnaren är i slutändan. Efter att samtliga händer för användaren kört igenom drar slutligen "banken" som då är dealern i detta fallet, och sedan dras det igenom vem av dem som vunnit.
</p>


{% endblock %}
