{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Home</h1>
    <p>Hej och välkommen till mitt lilla projekt!</p>
    <p>Jag heter Sucro och jag går första året som webbprogrammerare på BTH. Vi har i detta projekt blivit ombedda att använda oss av ramverket Symfony för att bygga våran hemsida.</p>

    <img class="home-img" src="{{ asset('img/susm_singapore_500x500.jpg') }}" alt="susm i singapore">

{% endblock %}