{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <h1>Report</h1>
    <h2 id="kmom01">Kmom01</h2>
        <p>
            En liten del av det stötte vi på i kursen Javascript, utöver det stötte jag även på det när vi jobbade med kursen OOPython, då vi "enbart" jobbade objektorienterat.
            <br>
            Tycker dock att det än idag är lite svårt att greppa och tänka kring de objektorienterade termerna, men i och med att vi över på det mer och mer bör det bli "lättare" när vi går framåt.
            <br><br>
            Generellt vill jag säga att för att börja skapa egna objekt och klasser i PHP eller något annat programmeringsspråk så måste vi titta till hur klassen är uppbyggd, om där skall finnas privata medlemsvariablar som då kallas properties samt om dessa skall sättas som publika, privata eller skyddade (enbart med arv att göra).
            <br>
            Funktionerna i en klass kallas för metoder, klasser kan då ses som mallar för vad som skall finnas för våra framtida objekt som då skapas från en klass. Simpla klasser tilldelas en variabel med = 'new klassnamn()', vad vi gjort då är instansierat ett objekt av en klass. Vi kan nu (om de är publika) ändra i medlemsvariablar för just detta objekt med -> (this), för att sätta specifika properties för just detta objektet.
            <br><br>
            Mycket av uppgiften ges i övningen, jag tycker om hur vi delar upp allting i mindre delar och på så sätt försöker hålla koll på dem individuellt istället för att klumpa ihop allting.
            <br>
            Svårast just nu är väl att ta till sig ett nytt ramverk, sedan tillkommer där även en hel del nya begrepp och kod som kan vara svårt att ta till sig nu i början.
            <br><br>
            Olika programmerings paradigmer, databasinteraktion, server and deployment.
            <br>
            Är några av de olika områdena som verkar främst intressanta för min del och något som jag hade velat fördjupa mig mer i från artikeln.
            <br><br>
            Symfoni, TWIG, objektorienterad PHP, autoloader
        </p>
    <h2 id="kmom02">Kmom02</h2>
    <h2 id="kmom03">Kmom03</h2>
    <h2 id="kmom04">Kmom04</h2>
    <h2 id="kmom05">Kmom05</h2>
    <h2 id="kmom06">Kmom06</h2>
{% endblock %}