{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block body %}
<h1>Draw a card</h1>

<p>Here is the card you drew.</p>


<p class="draw">
    {% if showValue matches '/♦|♥/' %}
        <span class="card-red">[{{ showValue }}]</span>
    {% else %}
        [{{ showValue }}]
    {% endif %}
</p>


<p>Cards left - {{ cardAmount }} </p>

{% endblock %}
