{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block body %}
<h1>Draw multiple of cards</h1>

<p>Test of drawing many cards</p>

<ul class="deck">
{% for cards in hand %}
    <li> [{{ cards }}] </li>
{% endfor %}
</ul>

<p>There is {{ amount }} cards left in the deck.</p>
{% endblock %}