{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block body %}
<h1>Entire deck of cards</h1>

<p>Below is the deck of cards displayed.</p>

<ul class="deck">
    {% for i in 0..51 %}
        {% if i % 13 == 0 %}
            <br><br>
            <li>{% if deck[i] matches '/♦|♥/' %}
                    <span class="card-red">[{{ deck[i] }}]</span>
                {% else %}
                    [{{ deck[i] }}]
                {% endif %}
            </li>
        {% else %}
            <li>{% if deck[i] matches '/♦|♥/' %}
                    <span class="card-red">[{{ deck[i] }}]</span>
                {% else %}
                    [{{ deck[i] }}]
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
</ul>

{% endblock %}
