{% extends 'base.html.twig' %}

{% block title %}Library{% endblock %}

{% block body %}

<div>
    <h1>SUSM-Library</h1>

    <p>
    We are a newly opened library, plase click on the link below to get to our books (more will be added soon!).
    <br><br>
    Thank you for your patience! 🙂
    </p>

    <p>
        <a href="{{ path('library_show') }}">Show books in stock</a>
    </p>
</div>
{% endblock %}
